body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u91_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1420px;
  height:824px;
  background:inherit;
  background-color:rgba(219, 219, 219, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:188px;
  width:1420px;
  height:824px;
  display:flex;
}
#u91 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u91_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:241px;
  width:1097px;
  height:634px;
}
#u92_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1097px;
  height:634px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u92_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u93_img {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-5px;
  width:46px;
  height:295px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:198px;
  width:10px;
  height:272px;
  display:flex;
}
#u93 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u93_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u94_img {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-5px;
  width:46px;
  height:295px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:178px;
  width:10px;
  height:272px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u94 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u94_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u95_img {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-5px;
  width:46px;
  height:199px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:96px;
  width:10px;
  height:176px;
  display:flex;
  -webkit-transform:rotate(44.4192849476355deg);
  -moz-transform:rotate(44.4192849476355deg);
  -ms-transform:rotate(44.4192849476355deg);
  transform:rotate(44.4192849476355deg);
}
#u95 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u95_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u96_img {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-5px;
  width:46px;
  height:195px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:769px;
  top:104px;
  width:10px;
  height:172px;
  display:flex;
  -webkit-transform:rotate(-36.3357060420295deg);
  -moz-transform:rotate(-36.3357060420295deg);
  -ms-transform:rotate(-36.3357060420295deg);
  transform:rotate(-36.3357060420295deg);
}
#u96 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u96_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u97_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-18px;
  width:145px;
  height:46px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:978px;
  top:301px;
  width:122px;
  height:10px;
  display:flex;
}
#u97 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u97_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u98_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-18px;
  width:129px;
  height:46px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:978px;
  top:342px;
  width:106px;
  height:10px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u98 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u98_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u99_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:21px;
  height:237px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:352px;
  width:10px;
  height:226px;
  display:flex;
  -webkit-transform:rotate(-51.6656231853316deg);
  -moz-transform:rotate(-51.6656231853316deg);
  -ms-transform:rotate(-51.6656231853316deg);
  transform:rotate(-51.6656231853316deg);
}
#u99 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u99_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u100_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:21px;
  height:231px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:752px;
  top:359px;
  width:10px;
  height:220px;
  display:flex;
  -webkit-transform:rotate(47.4823915712371deg);
  -moz-transform:rotate(47.4823915712371deg);
  -ms-transform:rotate(47.4823915712371deg);
  transform:rotate(47.4823915712371deg);
}
#u100 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u100_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:962px;
  height:631px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:962px;
  height:631px;
  display:flex;
}
#u101 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u101_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u92_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1097px;
  height:634px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u92_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u102_img {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-5px;
  width:46px;
  height:295px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:198px;
  width:10px;
  height:272px;
  display:flex;
}
#u102 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u102_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u103_img {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-5px;
  width:46px;
  height:295px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:178px;
  width:10px;
  height:272px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u103 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u103_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u104_img {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-5px;
  width:46px;
  height:199px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:96px;
  width:10px;
  height:176px;
  display:flex;
  -webkit-transform:rotate(44.4192849476355deg);
  -moz-transform:rotate(44.4192849476355deg);
  -ms-transform:rotate(44.4192849476355deg);
  transform:rotate(44.4192849476355deg);
}
#u104 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u105_img {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-5px;
  width:46px;
  height:195px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:769px;
  top:104px;
  width:10px;
  height:172px;
  display:flex;
  -webkit-transform:rotate(-36.3357060420295deg);
  -moz-transform:rotate(-36.3357060420295deg);
  -ms-transform:rotate(-36.3357060420295deg);
  transform:rotate(-36.3357060420295deg);
}
#u105 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u105_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u106_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:21px;
  height:237px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:352px;
  width:10px;
  height:226px;
  display:flex;
  -webkit-transform:rotate(-51.6656231853316deg);
  -moz-transform:rotate(-51.6656231853316deg);
  -ms-transform:rotate(-51.6656231853316deg);
  transform:rotate(-51.6656231853316deg);
}
#u106 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u106_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:21px;
  height:231px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:752px;
  top:359px;
  width:10px;
  height:220px;
  display:flex;
  -webkit-transform:rotate(47.4823915712371deg);
  -moz-transform:rotate(47.4823915712371deg);
  -ms-transform:rotate(47.4823915712371deg);
  transform:rotate(47.4823915712371deg);
}
#u107 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u108_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-18px;
  width:145px;
  height:46px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:978px;
  top:301px;
  width:122px;
  height:10px;
  display:flex;
}
#u108 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u108_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u109_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-18px;
  width:129px;
  height:46px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:978px;
  top:342px;
  width:106px;
  height:10px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u109 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u109_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:962px;
  height:631px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:962px;
  height:631px;
  display:flex;
}
#u110 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u110_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:1920px;
  top:30px;
  width:129px;
  height:1038px;
}
#u112_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:1038px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u112_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:55px;
  height:55px;
  display:flex;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:#BFBFBF;
}
#u113 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u113_img.mouseOver {
}
#u113.mouseOver {
}
#u113_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u115_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:29px;
  height:7px;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:18px;
  width:25px;
  height:3px;
  display:flex;
}
#u115 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u115_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:25px;
  width:25px;
  height:14px;
  display:flex;
}
#u116 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u116_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:125px;
  width:42px;
  height:42px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#BFBFBF;
}
#u118 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118_img.mouseOver {
}
#u118.mouseOver {
}
#u118_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:173px;
  width:42px;
  height:42px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#BFBFBF;
}
#u119 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119_img.mouseOver {
}
#u119.mouseOver {
}
#u119_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:221px;
  width:55px;
  height:55px;
  display:flex;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:#BFBFBF;
}
#u120 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u120_img.mouseOver {
}
#u120.mouseOver {
}
#u120_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:281px;
  width:42px;
  height:42px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#BFBFBF;
}
#u121 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121_img.mouseOver {
}
#u121.mouseOver {
}
#u121_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:329px;
  width:42px;
  height:42px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#BFBFBF;
}
#u122 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u122_img.mouseOver {
}
#u122.mouseOver {
}
#u122_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:377px;
  width:42px;
  height:42px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#BFBFBF;
}
#u123 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u123_img.mouseOver {
}
#u123.mouseOver {
}
#u123_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:425px;
  width:42px;
  height:42px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#BFBFBF;
}
#u124 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u124_img.mouseOver {
}
#u124.mouseOver {
}
#u124_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:473px;
  width:55px;
  height:55px;
  display:flex;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:#BFBFBF;
}
#u125 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u125_img.mouseOver {
}
#u125.mouseOver {
}
#u125_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:533px;
  width:42px;
  height:42px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#BFBFBF;
}
#u126 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u126_img.mouseOver {
}
#u126.mouseOver {
}
#u126_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:581px;
  width:42px;
  height:42px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#BFBFBF;
}
#u127 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127_img.mouseOver {
}
#u127.mouseOver {
}
#u127_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:629px;
  width:42px;
  height:42px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#BFBFBF;
}
#u128 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u128_img.mouseOver {
}
#u128.mouseOver {
}
#u128_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:677px;
  width:42px;
  height:42px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#BFBFBF;
}
#u129 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u129_img.mouseOver {
}
#u129.mouseOver {
}
#u129_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:725px;
  width:42px;
  height:42px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#BFBFBF;
}
#u130 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u130_img.mouseOver {
}
#u130.mouseOver {
}
#u130_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:773px;
  width:55px;
  height:55px;
  display:flex;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:#BFBFBF;
}
#u131 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u131_img.mouseOver {
}
#u131.mouseOver {
}
#u131_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:834px;
  width:55px;
  height:55px;
  display:flex;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:#BFBFBF;
}
#u132 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u132_img.mouseOver {
}
#u132.mouseOver {
}
#u132_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:894px;
  width:42px;
  height:42px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#BFBFBF;
}
#u133 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u133_img.mouseOver {
}
#u133.mouseOver {
}
#u133_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:942px;
  width:42px;
  height:42px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#BFBFBF;
}
#u134 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u134_img.mouseOver {
}
#u134.mouseOver {
}
#u134_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:990px;
  width:42px;
  height:42px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#BFBFBF;
}
#u135 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u135_img.mouseOver {
}
#u135.mouseOver {
}
#u135_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:1800px;
  top:550px;
  width:60px;
  height:60px;
  display:flex;
}
#u136 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u136_img.mouseOver {
}
#u136.mouseOver {
}
#u136_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:49px;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:1801px;
  top:381px;
  width:59px;
  height:49px;
  display:flex;
}
#u137 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u137_img.mouseOver {
}
#u137.mouseOver {
}
#u137_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:24px;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:297px;
  width:401px;
  height:120px;
  display:flex;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:24px;
}
#u138 .text {
  position:absolute;
  align-self:center;
  padding:20px 20px 20px 20px;
  box-sizing:border-box;
  width:100%;
}
#u138_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:120px;
  background:inherit;
  background-color:rgba(251, 255, 218, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:24px;
}
#u138.mouseOver {
}
#u138_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:120px;
  background:inherit;
  background-color:rgba(234, 240, 200, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:24px;
}
#u138.mouseDown {
}
#u138_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:24px;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:510px;
  width:305px;
  height:120px;
  display:flex;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:24px;
}
#u139 .text {
  position:absolute;
  align-self:center;
  padding:20px 20px 20px 20px;
  box-sizing:border-box;
  width:100%;
}
#u139_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:120px;
  background:inherit;
  background-color:rgba(251, 255, 218, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:24px;
}
#u139.mouseOver {
}
#u139_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:120px;
  background:inherit;
  background-color:rgba(234, 240, 200, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:24px;
}
#u139.mouseDown {
}
#u139_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:24px;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:928px;
  top:510px;
  width:257px;
  height:120px;
  display:flex;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:24px;
}
#u140 .text {
  position:absolute;
  align-self:center;
  padding:20px 20px 20px 20px;
  box-sizing:border-box;
  width:100%;
}
#u140_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:120px;
  background:inherit;
  background-color:rgba(251, 255, 218, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:24px;
}
#u140.mouseOver {
}
#u140_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:120px;
  background:inherit;
  background-color:rgba(234, 240, 200, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:24px;
}
#u140.mouseDown {
}
#u140_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u141_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:24px;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:719px;
  width:329px;
  height:120px;
  display:flex;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:24px;
}
#u141 .text {
  position:absolute;
  align-self:center;
  padding:20px 20px 20px 20px;
  box-sizing:border-box;
  width:100%;
}
#u141_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:120px;
  background:inherit;
  background-color:rgba(251, 255, 218, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:24px;
}
#u141.mouseOver {
}
#u141_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:120px;
  background:inherit;
  background-color:rgba(234, 240, 200, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:24px;
}
#u141.mouseDown {
}
#u141_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:24px;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:1373px;
  top:510px;
  width:257px;
  height:120px;
  display:flex;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:24px;
}
#u142 .text {
  position:absolute;
  align-self:center;
  padding:20px 20px 20px 20px;
  box-sizing:border-box;
  width:100%;
}
#u142_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:120px;
  background:inherit;
  background-color:rgba(251, 255, 218, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:24px;
}
#u142.mouseOver {
}
#u142_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:120px;
  background:inherit;
  background-color:rgba(234, 240, 200, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:24px;
}
#u142.mouseDown {
}
#u142_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:207px;
  background:inherit;
  background-color:rgba(244, 244, 244, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:24px;
  color:#AEAEAE;
  text-align:justify;
  text-justify:inter-word;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:1270px;
  top:759px;
  width:380px;
  height:207px;
  display:flex;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:24px;
  color:#AEAEAE;
  text-align:justify;
  text-justify:inter-word;
}
#u143 .text {
  position:absolute;
  align-self:center;
  padding:30px 30px 30px 30px;
  box-sizing:border-box;
  width:100%;
}
#u143_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:207px;
  background:inherit;
  background-color:rgba(244, 244, 244, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:24px;
  color:#AEAEAE;
  text-align:justify;
  text-justify:inter-word;
}
#u143.mouseOver {
}
#u143_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 172, 75, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:297px;
  width:390px;
  height:120px;
  display:flex;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
#u144 .text {
  position:absolute;
  align-self:center;
  padding:20px 20px 20px 20px;
  box-sizing:border-box;
  width:100%;
}
#u144_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u145_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:381px;
  background:inherit;
  background-color:rgba(255, 172, 75, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:24px;
  text-align:justify;
  text-justify:inter-word;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:305px;
  width:342px;
  height:381px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:24px;
  text-align:justify;
  text-justify:inter-word;
}
#u145 .text {
  position:absolute;
  align-self:center;
  padding:20px 20px 20px 20px;
  box-sizing:border-box;
  width:100%;
}
#u145_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 172, 75, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:974px;
  top:719px;
  width:402px;
  height:120px;
  display:flex;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
#u146 .text {
  position:absolute;
  align-self:center;
  padding:20px 20px 20px 20px;
  box-sizing:border-box;
  width:100%;
}
#u146_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:164px;
  background:inherit;
  background-color:rgba(255, 172, 75, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:24px;
  text-align:justify;
  text-justify:inter-word;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:1175px;
  top:639px;
  width:376px;
  height:164px;
  display:flex;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:24px;
  text-align:justify;
  text-justify:inter-word;
}
#u147 .text {
  position:absolute;
  align-self:center;
  padding:20px 20px 20px 20px;
  box-sizing:border-box;
  width:100%;
}
#u147_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:28px;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:1023px;
  top:73px;
  width:197px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:28px;
}
#u148 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u148_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:629px;
  top:70px;
  width:273px;
  height:45px;
  display:flex;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
}
#u149 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u149_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u150_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:7px;
  height:35px;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:959px;
  top:77px;
  width:3px;
  height:31px;
  display:flex;
}
#u150 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u150_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:19px;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:1811px;
  top:716px;
  width:35px;
  height:19px;
  display:flex;
}
#u151 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u151_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:1760px;
  top:669px;
  width:137px;
  height:114px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u153_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:24px;
  color:#BFBFBF;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:996px;
  width:30px;
  height:33px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:24px;
  color:#BFBFBF;
}
#u153 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u153_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
