body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1420px;
  height:176px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:60px;
  text-align:center;
}
#u2132 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:400px;
  width:1420px;
  height:176px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:60px;
  text-align:center;
}
#u2132 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2132_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2133_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1420px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STSongti-SC-Regular', 'Songti SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#8A8A8A;
}
#u2133 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:174px;
  width:1420px;
  height:34px;
  display:flex;
  font-family:'STSongti-SC-Regular', 'Songti SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#8A8A8A;
}
#u2133 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2133_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2134 {
  border-width:0px;
  position:absolute;
  left:1735px;
  top:64px;
  width:63px;
  height:207px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:19px;
}
#u2135 {
  border-width:0px;
  position:absolute;
  left:1755px;
  top:131px;
  width:23px;
  height:19px;
  display:flex;
}
#u2135 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2135_img.mouseOver {
}
#u2135.mouseOver {
}
#u2135_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
