body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2333 {
  position:fixed;
  right:40px;
  top:50%;
  margin-top:-519px;
  width:129px;
  height:1038px;
}
#u2333_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:1038px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2333_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2334_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u2334 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:55px;
  height:55px;
  display:flex;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:#BFBFBF;
}
#u2334 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2334_img.mouseOver {
}
#u2334.mouseOver {
}
#u2334_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2335 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2336_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:29px;
  height:7px;
}
#u2336 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:18px;
  width:25px;
  height:3px;
  display:flex;
}
#u2336 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2336_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2337_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
}
#u2337 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:25px;
  width:25px;
  height:14px;
  display:flex;
}
#u2337 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2337_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2338 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2339_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u2339 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:125px;
  width:42px;
  height:42px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#BFBFBF;
}
#u2339 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2339_img.mouseOver {
}
#u2339.mouseOver {
}
#u2339_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2340_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u2340 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:173px;
  width:42px;
  height:42px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#BFBFBF;
}
#u2340 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2340_img.mouseOver {
}
#u2340.mouseOver {
}
#u2340_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2341_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u2341 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:221px;
  width:55px;
  height:55px;
  display:flex;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:#BFBFBF;
}
#u2341 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2341_img.mouseOver {
}
#u2341.mouseOver {
}
#u2341_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2342_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u2342 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:281px;
  width:42px;
  height:42px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#BFBFBF;
}
#u2342 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2342_img.mouseOver {
}
#u2342.mouseOver {
}
#u2342_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2343_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u2343 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:329px;
  width:42px;
  height:42px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#BFBFBF;
}
#u2343 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2343_img.mouseOver {
}
#u2343.mouseOver {
}
#u2343_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2344_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u2344 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:377px;
  width:42px;
  height:42px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#BFBFBF;
}
#u2344 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2344_img.mouseOver {
}
#u2344.mouseOver {
}
#u2344_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2345_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u2345 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:425px;
  width:42px;
  height:42px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#BFBFBF;
}
#u2345 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2345_img.mouseOver {
}
#u2345.mouseOver {
}
#u2345_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2346_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u2346 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:473px;
  width:55px;
  height:55px;
  display:flex;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:#BFBFBF;
}
#u2346 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2346_img.mouseOver {
}
#u2346.mouseOver {
}
#u2346_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2347_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u2347 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:533px;
  width:42px;
  height:42px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#BFBFBF;
}
#u2347 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2347_img.mouseOver {
}
#u2347.mouseOver {
}
#u2347_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2348_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u2348 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:581px;
  width:42px;
  height:42px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#BFBFBF;
}
#u2348 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2348_img.mouseOver {
}
#u2348.mouseOver {
}
#u2348_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2349_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u2349 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:629px;
  width:42px;
  height:42px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#BFBFBF;
}
#u2349 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2349_img.mouseOver {
}
#u2349.mouseOver {
}
#u2349_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2350_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u2350 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:677px;
  width:42px;
  height:42px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#BFBFBF;
}
#u2350 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2350_img.mouseOver {
}
#u2350.mouseOver {
}
#u2350_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2351_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u2351 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:725px;
  width:42px;
  height:42px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#BFBFBF;
}
#u2351 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2351_img.mouseOver {
}
#u2351.mouseOver {
}
#u2351_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2352_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u2352 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:773px;
  width:55px;
  height:55px;
  display:flex;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:#BFBFBF;
}
#u2352 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2352_img.mouseOver {
}
#u2352.mouseOver {
}
#u2352_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2353_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u2353 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:834px;
  width:55px;
  height:55px;
  display:flex;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:#BFBFBF;
}
#u2353 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2353_img.mouseOver {
}
#u2353.mouseOver {
}
#u2353_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2354_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u2354 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:894px;
  width:42px;
  height:42px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#BFBFBF;
}
#u2354 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2354_img.mouseOver {
}
#u2354.mouseOver {
}
#u2354_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2355_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u2355 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:942px;
  width:42px;
  height:42px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#BFBFBF;
}
#u2355 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2355_img.mouseOver {
}
#u2355.mouseOver {
}
#u2355_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2356_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u2356 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:990px;
  width:42px;
  height:42px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#BFBFBF;
}
#u2356 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2356_img.mouseOver {
}
#u2356.mouseOver {
}
#u2356_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2357 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:64px;
  width:63px;
  height:207px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2358_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:19px;
}
#u2358 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:131px;
  width:23px;
  height:19px;
  display:flex;
}
#u2358 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2358_img.mouseOver {
}
#u2358.mouseOver {
}
#u2358_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2359_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:7px;
  height:35px;
}
#u2359 {
  border-width:0px;
  position:absolute;
  left:959px;
  top:77px;
  width:3px;
  height:31px;
  display:flex;
}
#u2359 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2359_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2360_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:28px;
}
#u2360 {
  border-width:0px;
  position:absolute;
  left:1012px;
  top:73px;
  width:430px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:28px;
}
#u2360 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2360_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2361_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:684px;
  height:119px;
  background:inherit;
  background-color:rgba(244, 244, 244, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:24px;
  color:#AEAEAE;
  text-align:justify;
  text-justify:inter-word;
}
#u2361 {
  border-width:0px;
  position:absolute;
  left:987px;
  top:189px;
  width:684px;
  height:119px;
  display:flex;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:24px;
  color:#AEAEAE;
  text-align:justify;
  text-justify:inter-word;
}
#u2361 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 30px 10px 30px;
  box-sizing:border-box;
  width:100%;
}
#u2361_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:684px;
  height:119px;
  background:inherit;
  background-color:rgba(244, 244, 244, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:24px;
  color:#AEAEAE;
  text-align:justify;
  text-justify:inter-word;
}
#u2361.mouseOver {
}
#u2361_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2362_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
}
#u2362 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:70px;
  width:257px;
  height:45px;
  display:flex;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
}
#u2362 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2362_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2363_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:684px;
  height:185px;
  background:inherit;
  background-color:rgba(244, 244, 244, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:24px;
  color:#AEAEAE;
  text-align:justify;
  text-justify:inter-word;
}
#u2363 {
  border-width:0px;
  position:absolute;
  left:987px;
  top:383px;
  width:684px;
  height:185px;
  display:flex;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:24px;
  color:#AEAEAE;
  text-align:justify;
  text-justify:inter-word;
}
#u2363 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 30px 10px 30px;
  box-sizing:border-box;
  width:100%;
}
#u2363_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:684px;
  height:185px;
  background:inherit;
  background-color:rgba(244, 244, 244, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:24px;
  color:#AEAEAE;
  text-align:justify;
  text-justify:inter-word;
}
#u2363.mouseOver {
}
#u2363_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2364_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:684px;
  height:185px;
  background:inherit;
  background-color:rgba(244, 244, 244, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:24px;
  color:#AEAEAE;
  text-align:justify;
  text-justify:inter-word;
}
#u2364 {
  border-width:0px;
  position:absolute;
  left:987px;
  top:642px;
  width:684px;
  height:185px;
  display:flex;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:24px;
  color:#AEAEAE;
  text-align:justify;
  text-justify:inter-word;
}
#u2364 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 30px 10px 30px;
  box-sizing:border-box;
  width:100%;
}
#u2364_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:684px;
  height:185px;
  background:inherit;
  background-color:rgba(244, 244, 244, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:24px;
  color:#AEAEAE;
  text-align:justify;
  text-justify:inter-word;
}
#u2364.mouseOver {
}
#u2364_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
