body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2884_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1420px;
  height:176px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:60px;
  text-align:center;
}
#u2884 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:400px;
  width:1420px;
  height:176px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:60px;
  text-align:center;
}
#u2884 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2884_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2885_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1420px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STSongti-SC-Regular', 'Songti SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#8A8A8A;
}
#u2885 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:174px;
  width:1420px;
  height:34px;
  display:flex;
  font-family:'STSongti-SC-Regular', 'Songti SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#8A8A8A;
}
#u2885 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2885_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2886_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:24px;
  color:#BFBFBF;
}
#u2886 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:996px;
  width:28px;
  height:33px;
  display:flex;
  font-family:'PingFangSC-Ultralight', 'PingFang SC Ultralight', 'PingFang SC', sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:24px;
  color:#BFBFBF;
}
#u2886 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2886_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2888 {
  border-width:0px;
  position:absolute;
  left:1920px;
  top:30px;
  width:129px;
  height:1038px;
}
#u2888_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:1038px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2888_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u2889 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:55px;
  height:55px;
  display:flex;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:#BFBFBF;
}
#u2889 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2889_img.mouseOver {
}
#u2889.mouseOver {
}
#u2889_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2890 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2891_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:29px;
  height:7px;
}
#u2891 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:18px;
  width:25px;
  height:3px;
  display:flex;
}
#u2891 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2891_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
}
#u2892 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:25px;
  width:25px;
  height:14px;
  display:flex;
}
#u2892 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2892_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2893 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u2894 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:125px;
  width:42px;
  height:42px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#BFBFBF;
}
#u2894 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2894_img.mouseOver {
}
#u2894.mouseOver {
}
#u2894_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u2895 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:173px;
  width:42px;
  height:42px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#BFBFBF;
}
#u2895 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2895_img.mouseOver {
}
#u2895.mouseOver {
}
#u2895_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u2896 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:221px;
  width:55px;
  height:55px;
  display:flex;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:#BFBFBF;
}
#u2896 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2896_img.mouseOver {
}
#u2896.mouseOver {
}
#u2896_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u2897 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:281px;
  width:42px;
  height:42px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#BFBFBF;
}
#u2897 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2897_img.mouseOver {
}
#u2897.mouseOver {
}
#u2897_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u2898 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:329px;
  width:42px;
  height:42px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#BFBFBF;
}
#u2898 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2898_img.mouseOver {
}
#u2898.mouseOver {
}
#u2898_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u2899 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:377px;
  width:42px;
  height:42px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#BFBFBF;
}
#u2899 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2899_img.mouseOver {
}
#u2899.mouseOver {
}
#u2899_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u2900 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:425px;
  width:42px;
  height:42px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#BFBFBF;
}
#u2900 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2900_img.mouseOver {
}
#u2900.mouseOver {
}
#u2900_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u2901 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:473px;
  width:55px;
  height:55px;
  display:flex;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:#BFBFBF;
}
#u2901 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2901_img.mouseOver {
}
#u2901.mouseOver {
}
#u2901_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u2902 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:533px;
  width:42px;
  height:42px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#BFBFBF;
}
#u2902 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2902_img.mouseOver {
}
#u2902.mouseOver {
}
#u2902_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u2903 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:581px;
  width:42px;
  height:42px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#BFBFBF;
}
#u2903 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2903_img.mouseOver {
}
#u2903.mouseOver {
}
#u2903_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u2904 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:629px;
  width:42px;
  height:42px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#BFBFBF;
}
#u2904 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2904_img.mouseOver {
}
#u2904.mouseOver {
}
#u2904_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u2905 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:677px;
  width:42px;
  height:42px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#BFBFBF;
}
#u2905 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2905_img.mouseOver {
}
#u2905.mouseOver {
}
#u2905_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u2906 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:725px;
  width:42px;
  height:42px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#BFBFBF;
}
#u2906 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2906_img.mouseOver {
}
#u2906.mouseOver {
}
#u2906_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u2907 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:773px;
  width:55px;
  height:55px;
  display:flex;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:#BFBFBF;
}
#u2907 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2907_img.mouseOver {
}
#u2907.mouseOver {
}
#u2907_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2908_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u2908 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:834px;
  width:55px;
  height:55px;
  display:flex;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:#BFBFBF;
}
#u2908 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2908_img.mouseOver {
}
#u2908.mouseOver {
}
#u2908_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u2909 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:894px;
  width:42px;
  height:42px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#BFBFBF;
}
#u2909 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2909_img.mouseOver {
}
#u2909.mouseOver {
}
#u2909_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u2910 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:942px;
  width:42px;
  height:42px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#BFBFBF;
}
#u2910 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2910_img.mouseOver {
}
#u2910.mouseOver {
}
#u2910_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u2911 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:990px;
  width:42px;
  height:42px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#BFBFBF;
}
#u2911 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2911_img.mouseOver {
}
#u2911.mouseOver {
}
#u2911_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2912_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u2912 {
  border-width:0px;
  position:absolute;
  left:1800px;
  top:550px;
  width:60px;
  height:60px;
  display:flex;
}
#u2912 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2912_img.mouseOver {
}
#u2912.mouseOver {
}
#u2912_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:49px;
}
#u2913 {
  border-width:0px;
  position:absolute;
  left:1801px;
  top:381px;
  width:59px;
  height:49px;
  display:flex;
}
#u2913 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2913_img.mouseOver {
}
#u2913.mouseOver {
}
#u2913_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
